.breadcrumbs {
    margin: 10px 0;
    ul {
        display: flex;
        align-items: center;
        li {
            &:first-child {
                &:before {
                    display: none;
                }
            }
            position: relative;
            color: $grey-9A;
            font-size: 13px;
            line-height: 16px;
            &::before {
                content: "/";
                margin: 0 6px;
            }
            a {
                color: $grey-9A;
                text-decoration: none;
                transition: all ease 300ms;
                &:hover {
                    color: $dark-yellow;
                }
            }
            span {
                color: $dark-yellow;
                display: inline-block;
                &::first-letter{
                    text-transform: capitalize;
                }
            }
        }
    }
}