/*Variable couleur*/

$yellow: #FDDC04;
$soft-yellow:#FAD916;
$dark-yellow:#FEC71A;
$orange:#FF9900;
$green: #01723E;
$light-green:#2AC14E;
$red:#FF0000;
$dark-red: #E53520;
$grey-60: #606060;
$black-1b : #1B1B1B;
$black-15:#151515;
$grey-2B: #2B303B;
$black-99: #00000099;
$black-4D: #0000004D;
$black-1A:#0000001A;
$black-29:#00000029;
$black-40:#00000040;
$black-46:#464646;
$black-79:#797973; 
$black-0D:#0000000D;
$grey-70:#707070;
$grey-95:#707070;
$grey-f8: #F8F8F8;
$grey-e9:#E9E9E9;
$grey-e5:#E5E5E5;
$grey-d9:#D9D9D9;
$grey-f0:#F0F3F5;
$grey-f2:#F2F4F8;
$grey-9A:#9A9A9A;
$grey-e8:#E8E8E8;
$grey-8C:#8C8A88;
$m-white:#ffffff;
$fb-white:#FBFBFB;
$grey-ed:#EDEDED;
$grey-da: #DADADA;
$grey-95: #959595;
$grey-b6: #B6B6B6;
$grey-4A:#4A4B4D;

/*Variable font*/
$light: 'Muli-Light';
$regular: 'Muli-Regular';
$medium: 'Muli-Medium';
$semibold: 'Muli-SemiBold';
$bold: 'Muli-Bold';
$black: 'Muli-Black';
